

{% extends "base.html" %}
{% load static %}

{% block title %}Rejestracja{% endblock  %}

{% block style %}
    <link rel="stylesheet" href="{% static "/blog/includes/forms.css" %}">
    <link rel="stylesheet" href="{% static "/blog/registration.css" %}">
{% endblock  %}

{% block content %}
    <section class="registration-section">
        
        <h1>Zarejestruj się</h1>
        {% if message %}
            <p>{{message}}</p>
        {% endif %}
        <div class="registration">
            <div class="form">
                <form method ="POST">
                    {% csrf_token %}
                <div class="form-field">
                        {{form.username.label_tag}}
                        {{form.username}}
                        {{form.username.errors}}
                </div>
                    <div class="form-field">
                        {{form.email.label_tag}}
                        {{form.email}}
                        {{form.email.errors}}
                    </div>
                    <div class="form-field">
                        {{form.password1.label_tag}}
                        {{form.password1}}
                        {{form.password1.errors}}
                    </div>
                    <div class="form-field">
                        {{form.password2.label_tag}}
                        {{form.password2}}
                        {{form.password2.errors}}
                    </div>
                    <button class="btn">Zapisz</button>
                </form>
            </div>
        
            <section class="banner-section">
                <h3>Dołącz do naszej rodziny!</h3>
                <img src={% static "/blog/images/registration/registration_img.webp" %} alt="">
            </section>
        </div>
    </section>

{% endblock  %}