{% extends "base.html" %}
{% load static %}

{% block title %}Zmień swoje hasło{% endblock  %}

{% block style %}
    <link rel="stylesheet" href="{% static "blog/includes/forms.css" %}">
{% endblock %}

{% block content %}
    <div class="form">
        <form method="POST">
            {% csrf_token %}
            <div class="form-field">
                {{form.password.label_tag}}
                {{form.password}}
                {{form.password.errors}}     
            </div>
            <div class="form-field">
                {{form.password2.label_tag}}
                {{form.password2}}
                {{form.password2.errors}}     
            </div>
            <button class="btn">Zmień hasło</button>
        </form>
    </div>
{% endblock  %}