<div class="wrapper" style=" margin: 1rem 2rem;padding: 1rem;-webkit-box-shadow:  0px 0px 38px -5px rgba(66, 68, 90, 1); -moz-box-shadow:  0px 0px 38px -5px rgba(66, 68, 90, 1);box-shadow:  0px 0px 38px -5px rgba(66, 68, 90, 1);">

    <p>Hi {{ user.username }},</p>
    <p>Zapomniałeś hasła?</p>
    <p>Naciśnij poniższy link aby je zresetować!</p>


    <a href="{{ request.scheme }}://{{ domain }}{% url 'check_reset_token' uidb64=uid token=token %}" style=" display: inline-block font-size: .8rem; letter-spacing: 1px;font-weight: bold;padding: .5rem 1rem;margin-top: 1rem; margin-left: 50%;transform: translateX(-50%);
    color: #342B21;; border: 2px solid #342B21;; border-radius: 6px; transition: .4s ease;">
        Zmień hasło
    </a>

</div>