{% extends "base.html" %}
{% load static %}

{% block title %}Podaj swój email{% endblock  %}

{% block style %}
    <link rel="stylesheet" href="{% static "blog/includes/forms.css" %}">
{% endblock  %}

{% block content %}
    <div class="form">
        {% if success %}
            <p>{{success}}</p>
        {% endif %}
        <form  method="POST">
            {% csrf_token %}
            <div class="form-field">
                <label for="email">Podaj swój email:</label>
                <input type="text" name="email">

                {% if messages %}
                    <div class="errorlist">
                        {% for message in messages  %}
                            <li>{{message}}</li>
                        {% endfor %}
                </div> 
                {% endif %}

            </div>
            <button class="btn">Resetuj</button>
        </form>
    </div>
{% endblock  %}